/*Estilos propios
**Generales
**Header
***nav
**Cuerpo central
**Footer
*/
/**/

body {
    background: #C9C9C9;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #FFF;
}

/*** Cabecera ***/

header {
    font-size: 2em;
}

/*nav cabecera Genérica*/
.cabecera_Gen {
    background: rgba(201, 201, 201, 1);
    background: -moz-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201, 201, 201, 1)), color-stop(12%, rgba(201, 201, 201, 1)), color-stop(99%, rgba(51, 51, 51, 1)), color-stop(100%, rgba(34, 34, 34, 1)));
    background: -webkit-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: -o-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: -ms-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: linear-gradient(to right, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#222222', GradientType=1);
    height: 4em;
    position: fixed;
    width: 100%;
}

/*cabecera Portada Blog*/
.cabecera {
    background: rgba(201, 201, 201, 1);
    background: -moz-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201, 201, 201, 1)), color-stop(12%, rgba(201, 201, 201, 1)), color-stop(99%, rgba(51, 51, 51, 1)), color-stop(100%, rgba(34, 34, 34, 1)));
    background: -webkit-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: -o-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: -ms-linear-gradient(left, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    background: linear-gradient(to right, rgba(201, 201, 201, 1) 0%, rgba(201, 201, 201, 1) 12%, rgba(51, 51, 51, 1) 99%, rgba(34, 34, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#222222', GradientType=1);
    height: 4em;
    position: relative;
    width: 100%;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 1.5em 2em;
    float: right;
}

.t_cabecera {
    float: left;
    margin: 1.5em 4em;
    color: #62FF91;
    text-shadow: 2px 2px 5px #222222;
}

/*¿?¿?*/
#contacto {
    color: red;
}

/*** Contenido ***/
/*section de Index, Perfil, */
section {
    text-align: center;
    padding-top: 20em;
    /*En portadaBlog 10em*/
    height: 30em;
    width: 100%;
    color: #62FF91;
    text-shadow: 5px 5px #558ABB;
}

/*section de Conócenos*/
.conocenos {
    text-align: center;
    padding-top: 8em;
    height: 15em;
    width: 100%;
    color: #62FF91;
    text-shadow: 5px 5px #558ABB;
}

span {
    font-size: 10em;
}

/*** Footer ***/

footer {
    background-color: #222;
    height: 3em;
    width: 100%;
    padding-top: 1em;
}

footer a {
    float: right;
    padding-right: 2em;
}

.copi {
    float: left;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin-left: 2em;
}


/** INDEX **/
#home {
    padding-top: 8em;
    height: 50em;
}

#blog_I {
    background-color: #b7FF94;
}

.imagen {
    max-width: 100%;
}

/** PERFIL **/
.cont_perfil {
    text-align: center;
}

.perfil {
    height: 100%;
    width: 50%;
    display: inline-block;
    margin-top: -4em;
    border: solid 1px black;
    border-radius: 10%;
}

.cab_perfil {
    width: 100%;
    height: 30%;
}

.ico_perfil {
    height: 77%;
    width: 18%;
    float: left;
    padding: 1em;
}

.perfil span {
    font-size: 4em;
    text-shadow: 1px 1px #000000;
}

.intereses {
    height: 70%;
    width: 50%;
    float: left;
    margin-left: 0;
    font-size: 0.5em;
}

.descripcion {
    height: 70%;
    width: 50%;
    float: left;
    margin-left: 0;
    font-size: 0.5em;
}

.perfil ul {
    font-size: 22px;
    color: black;
    text-shadow: 0px 0px #000000;
    margin-left: 1em;
    margin-top: 1em;
}

.desc {
    width: 80%;
    height: 50%;
    margin-top: 2em;
    font-size: 22px;
}

/** CONÓCENOS **/
#texto {
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2em;
    margin: 0 auto;
    width: 65%;
    height: auto;
    color: #000;
    border: 8px #000 solid;
    border-color: #62FF91;
    font-size: 2em;
}

/** PORTADA BLOG **/

.secciones {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
}

.secciones li {
    display: inline-block;
}

.secciones li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 1em 2em;
    float: center;
    text-shadow: 2px 2px 5px #222222;
    font-size: 1.5em;
}

/** ENTRADA BLOG **/
#seccionEntradaBlog {
    padding-top: 8em;
    padding-bottom: 5em;
}

/*era h3 */
#tituloIntro {
    font-size: 3em;
    text-align: center;
    background: #000;
}

#Content {
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

#imgHead {
    width: 1080px;
    background: black;
    text-align: center;
}

#sangria {
    padding: 20px;
}

#Content p {
    font-size: 1em;
    font-family: 'ostrich_sans_roundedmedium';
    line-height: 1.5em;
    color: #000;
}

img.EntradaBlog {
    width: 300px;
    float: left;
    margin: 0px 10px 0px 0px;
}

img.banner {
    width: 100%;
    margin: 20px 0px 0px 0px;
}